

<div><ng-include src="'app/page-header.html'"></ng-include></div>


<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div><ng-include src="'app/page-sidebar.html'"></ng-include></div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <nav class="navbar navbar-default under-menu" role="navigation">
                    <div class="container-fluid header-menu">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="#">Онлайн<span class="badge">2</span></a></li>
                                <li><a href="#">Не в сети<span class="badge">2</span></a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="btn-add-user" href="#">Добавить пользователя</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
                <ol class="breadcrumb">
                    <li><i class="icon-home min-home"></i><a class="bread-a" href="#">bxON</a></li>
                    <li><a class="bread-a" href="#">Пользователи</a></li>
                    <li class="active-bread">Все пользователи</li>
                </ol>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 all-show-user">
                            <div class="tabs">
                                <input id="tab1" type="radio" name="tabs" checked>
                                <label for="tab1" title="Вкладка 1">Все пользователи</label>

                                <input id="tab2" type="radio" name="tabs">
                                <label for="tab2" title="Вкладка 2">Team Lead</label>

                                <input id="tab3" type="radio" name="tabs">
                                <label for="tab3" title="Вкладка 3">Front-End</label>

                                <input id="tab4" type="radio" name="tabs">
                                <label for="tab4" title="Вкладка 4">Back-End</label>

                                <section id="content1">
                                    <div class="portlet-body">
                                        <div class="mt-element-card mt-card-round mt-element-overlay">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="mt-card-item">
                                                        <div class="mt-card-avatar">
                                                            <div class="ih-item circle effect5"><a href="#">
                                                                <div class="img"><img src="https://pp.vk.me/c631720/v631720580/3c89b/yIG0tCyk4Fs.jpg" alt="img"></div>
                                                                <div class="info">
                                                                    <div class="info-back">
                                                                        <h3>Артем Сом</h3>
                                                                        <p>Онлайн</p>
                                                                    </div>
                                                                </div></a></div>
                                                            <!-- end normal -->
                                                        </div>
                                                        <div class="mt-card-content">
                                                            <h3 class="mt-card-name">Артем Сом</h3>
                                                            <p class="mt-card-desc font-grey-mint">Team Lead</p>
                                                            <div class="mt-card-social">
                                                                <ul>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-facebook"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-twitter"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-dribbble"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="mt-card-telephone">
                                                                <span class="glyphicon glyphicon-phone"></span>+3757845654
                                                            </div>
                                                            <div class="mt-card-last-active">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="mt-card-item">
                                                        <div class="mt-card-avatar">
                                                            <div class="ih-item circle effect5"><a href="#">
                                                                <div class="img"><img src="https://pp.vk.me/c625425/v625425229/34383/Wi2hwwlXix0.jpg" alt="img"></div>
                                                                <div class="info">
                                                                    <div class="info-back">
                                                                        <h3>Иван Плиговка</h3>
                                                                        <p>Онлайн</p>
                                                                    </div>
                                                                </div></a></div>
                                                        </div>
                                                        <div class="mt-card-content">
                                                            <h3 class="mt-card-name">Иван Плиговка</h3>
                                                            <p class="mt-card-desc font-grey-mint">Back-End Developer</p>
                                                            <div class="mt-card-social">
                                                                <ul>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-facebook"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-twitter"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-dribbble"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="mt-card-item">
                                                        <div class="mt-card-avatar">
                                                            <div class="ih-item circle effect5"><a href="#">
                                                                <div class="img"><img src="https://pp.vk.me/c630225/v630225649/17440/YzXhpTmlGNs.jpg" alt="img"></div>
                                                                <div class="info">
                                                                    <div class="info-back">
                                                                        <h3>Анастасия Шауло</h3>
                                                                        <p>Не в сети</p>
                                                                    </div>
                                                                </div></a></div>
                                                        </div>
                                                        <div class="mt-card-content">
                                                            <h3 class="mt-card-name">Анастасия Шауло</h3>
                                                            <p class="mt-card-desc font-grey-mint">Front-End Developer</p>
                                                            <div class="mt-card-social">
                                                                <ul>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-facebook"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-twitter"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-dribbble"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                    <div class="mt-card-item">
                                                        <div class="mt-card-avatar">
                                                            <div class="ih-item circle effect5"><a href="#">
                                                                <div class="img"><img src="https://pp.vk.me/c629419/v629419433/3cad5/mxfVNDp9W1I.jpg" alt="img"></div>
                                                                <div class="info">
                                                                    <div class="info-back">
                                                                        <h3>Екатерина Толпеко</h3>
                                                                        <p>Не в сети</p>
                                                                    </div>
                                                                </div></a></div>
                                                        </div>
                                                        <div class="mt-card-content">
                                                            <h3 class="mt-card-name">Екатерина Толпеко</h3>
                                                            <p class="mt-card-desc font-grey-mint">Front-End Developer</p>
                                                            <div class="mt-card-social">
                                                                <ul>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-facebook"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-twitter"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:;">
                                                                            <i class="icon-social-dribbble"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                </section>
                                <section id="content2">
                                    <p>
                                        Здесь размещаете любое содержание....
                                    </p>
                                </section>
                                <section id="content3">
                                    <p>
                                        Здесь размещаете любое содержание....
                                    </p>
                                </section>
                                <section id="content4">
                                    <p>
                                        Здесь размещаете любое содержание....
                                    </p>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <!-- END FOOTER -->
</div>

<script>
    simplemde = new SimpleMDE({ element: document.getElementById("project-description") });
</script>
